  <!-- messanger  -->
        <!-- data-keyboard="false" data-backdrop="static" -->
        <div style="margin-top: 80px;" >
            <div class="modal-dialog modal-dialog-scrollable" >
                <div class="modal-content" >

     <div class="row" style="height: 50px;">
                <div style="border-bottom: 1px solid rgb(207, 205, 205);">
                    <span class="float-end" #editModelClose ><i class="fa fa-times"></i></span>

                <div class="d-flex">
                    <a class=" mx-2"  ><img height="38" width="38" style="border-radius: 21px;object-fit: cover;" [src]=" currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" ></a>
                    <a *ngIf="currentUser" style="text-decoration: none; color: black; margin-top: 10px;" class=" mx-2"  ><h6 class="">{{currentUser.name.substr(0,15)}}</h6></a>
                </div>
            </div>
     </div>

    <div  style="height:400px; " class=" modal-body">
        <div style=" margin-left: 35%;" class=" ">
            <a style=" text-decoration: none;" [href]="currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"><img style="border-radius: 80px; object-fit: cover;" height="100" width="100" [src]="currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" alt="">
                <h5 *ngIf="currentUser" style=" color:black ;">{{currentUser.name.substr(0,15)}}</h5>

            </a>
        </div>
        <div *ngIf="currentUser">
            <p class="text-center" >Facebook</p>
        <p class="text-center" >On facebook {{currentUser.created_at | date:'medium'}}</p>
        <p  *ngIf="currentUser.user_info" class="text-center" >{{currentUser.user_info.homeTown ? currentUser.user_info.homeTown : 'Not Mention'}}</p>
        </div>

        <div *ngIf="allmessage" class="row">
                    <!-- Reciever Message-->
            <div *ngFor="let item of allmessage">
                
                <div *ngIf="item.sender_id != currentUser._id" class="media col-8 offset-4 ml-auto">
                    <div class="media-body">
                      <div class="bg-primary rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-white">{{item.message}}</p>
                      </div>
                      <p class="small text-muted">{{item.created_at | date :'medium'}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Sender Message-->
                <div *ngIf="item.sender_id != data.user_id" class="media col-8 "><img [src]="currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" style="object-fit: cover;" alt="user" width="30" class="rounded-circle">
                  <div class="media-body ml-3">
                    <div class="bg-light rounded py-2 px-3">
                      <p class="text-small mb-0 text-muted">{{item.message}}</p>
                    </div>
                    <p class="small text-muted">{{item.created_at | date:'medium'}}</p>
                  </div>
                </div>
               </div>
            </div>
        </div>
  
         

         <div class="row">
                <div class="d-flex col-md-12">
                    <div class="input-group">
                        <input #sendmessage
                        style="border-top-left-radius:  23px; border-bottom-left-radius:  23px;" class="form-control" type="search"
                        placeholder="Send Message...">
                        <span style="border-top-right-radius:  23px; border-bottom-right-radius:  23px;" class=" input-group-text">😀</span>
                    </div>
            </div>
         </div>

          </div>
      </div>
    </div>
</div>