<div class="container" style="overflow-y: hidden;" >
    <div style="margin-top:12%">
        <div class="row">
           <div class="col-md-5 col-12 offset-md-1 mt-5" >
            <h1 class="text-primary" style="font-size: 65px;">Facebook</h1>
            <p style=" font-size: 35px; line-height: 38px;"  > Facebook helps you to connect and share your thoughts with the people in your life.</p>
           </div>
            <div class="card col-md-4 col-12 offset-1" style="border-radius: 10px;">
                <div class="card-body">
                    <form [formGroup]="loginForm" method="post" (submit)="onlogin()" >
                            
                        <div *ngIf="loginerr" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{loginerr.message ? loginerr.message :  loginerr}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                          <div *ngIf="loginsuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{loginsuccess}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                          <div *ngIf="sessionerror" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{sessionerror}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>

                        <div class="form-group m-3">
                            <input formControlName='email' type="text" class="form-control form-control-lg" placeholder="Email Address">
                        </div>
                        <div class="form-group m-3">
                            <input formControlName='password' type="password" class="form-control form-control-lg" placeholder="Password">
                        </div>
                        <div class="form-group m-3">
                            <button class="btn btn-primary form-control form-control-lg ">Login</button>
                        </div>
                        <div class="text-center">
                            <a class="nav-link" routerLink="recover">Forget Password</a>
                        </div>
                    </form>
                    <hr>
                    <div class="form-group mx-5">
                        <button class="btn btn-success form-control form-control-lg " data-bs-toggle="modal" data-bs-target="#createAccount">Create new account</button>
                    </div>
                </div>
                <p class="mx-5">Make a page for advertisement <a style="text-decoration: none;" href="#">Click here</a></p>
           </div>
        </div>
    </div>
    </div>
    
    <!-- Create Account  Modal -->
    <!-- <div class="modal fade mt-5" id="createAccount" tabindex="-1" aria-labelledby="createAccountLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
    
            <div class="card">
                <div class="text-end">
                    <a class="text-secondary m-2 p-2" data-bs-dismiss="modal"><i class="fa fa-times"></i></a>
                </div>
                <div class="card-body p-5">
                <h4 class="text-center">Add new User </h4><br>
                
                <form [formGroup]="createAccountForm"  method="post"  id="AddUser" (submit)="onSubmit()">

                    <div *ngIf="regsuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{regsuccess}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      <div *ngIf="storeallerrors" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{storeallerrors.message ? storeallerrors.message :  storeallerrors}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    
                    <div class="mb-3">
                        <div class="row">
                            <input formControlName="fname" type="text" placeholder="Ex Dhiraj" name="fname" class="form-control col mx-1" id="fname" >
                            <input type="text" formControlName="lname" placeholder="Ex Thakare" name="lname" class="form-control col mx-1" id="lname" >
                            <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.errors.fname' class="text-danger">{{storeallerrors.errors.fname[0]}}.</span> <span *ngIf="storeallerrors.errors.lname" class="text-danger">{{storeallerrors.errors.lname[0]}}.</span></p>

                        </div>
    
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <input type="email" formControlName="email" name="email" placeholder="Ex example@gmail.com" class="form-control col mx-1" id="email">
                            <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.errors.email' class=" text-danger "> {{storeallerrors.errors.email[0]}} </span></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <input type="password" formControlName="password" name="password" placeholder="Password" class="form-control col mx-1" id="password">
                            <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.errors.password' class=" text-danger "> {{storeallerrors.errors.password[0]}} </span></p>
                        </div>
                    </div>
                    
                    <div class="mb-2 ">
                        <label for="">Birth Of Date</label>
                        <div class="row">
                            <input type="date" formControlName="birthOfDate" name="birthOfDate" class="form-control" id="birthOfDate">
                            <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.errors.birthOfDate' class=" text-danger "> {{storeallerrors.errors.birthOfDate[0]}} </span></p>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="gender"> Select Gender</label><br>
                        <div class="form-check form-check-inline">
                            <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Male" value="Male">
                            <label class="form-check-label" for="Male">Male</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Female" value="Female">
                            <label class="form-check-label" for="Female">Female</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Other" value="Other" >
                            <label class="form-check-label" for="Other">Other</label>
                          </div>
                          <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.errors.gender' class=" text-danger "> {{storeallerrors.errors.gender[0]}} </span></p>
                        </div>
                   
                    <input type="submit" id="submit" class="btn btn-primary form-control btn-block" value="Sign Up">
    
                </form>
                </div>
            </div>
            
        </div>
      </div>
    </div> -->

    <!-- Create Account  Modal -->
    <div class="modal fade mt-5" id="createAccount" tabindex="-1" aria-labelledby="createAccountLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable ">
          <div class="modal-content">
      
                  <div class="modal-header mt-2">
                      <div class="text-end">
                          <a  class="text-secondary m-2 p-2 btn-close" data-bs-dismiss="modal"></a>
                      </div>
                      <h4 class="text-center ">Add new User </h4><br>
                      
      
                  </div>
              <div class="modal-body"  style="height: 420px;">
                  
                  <div class="card-body px-5">
                  
                  <form [formGroup]="createAccountForm"  method="post"  id="AddUser" (submit)="onSubmit()">
  
                      <div *ngIf="regsuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                          <strong>{{regsuccess}}</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div  *ngIf="storeallerrors">
                            <div *ngIf="!storeallerrors.fname && !storeallerrors.lname && !storeallerrors.email && !storeallerrors.gender && !storeallerrors.birthOfDate" class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>{{storeallerrors}}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                        </div>
                      
                      <div class="mb-3">
                          <div class="row">
                              <input formControlName="fname" type="text" placeholder="Ex Dhiraj" name="fname" class="form-control col mx-1" id="fname" >
                              <input type="text" formControlName="lname" placeholder="Ex Thakare" name="lname" class="form-control col mx-1" id="lname" >
                              <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.fname' class="text-danger">{{storeallerrors.fname}}.</span> <span *ngIf="storeallerrors.lname" class="text-danger">{{storeallerrors.lname}}.</span></p>
  
                          </div>
      
                      </div>
                      <div class="mb-3">
                          <div class="row">
                              <input type="email" formControlName="email" name="email" placeholder="Ex example@gmail.com" class="form-control col mx-1" id="email">
                              <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.email' class=" text-danger "> {{storeallerrors.email}} </span></p>
                          </div>
                      </div>
                      <div class="mb-3">
                          <div class="row">
                              <input type="password" formControlName="password" name="password" placeholder="Password" class="form-control col mx-1" id="password">
                              <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.password' class=" text-danger "> {{storeallerrors.password}} </span></p>
                          </div>
                      </div>
                      
                      <div class="mb-2 ">
                          <label for="">Birth Of Date</label>
                          <div class="row">
                              <input type="date" formControlName="birthOfDate" name="birthOfDate" class="form-control" id="birthOfDate">
                              <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.birthOfDate' class=" text-danger "> {{storeallerrors.birthOfDate}} </span></p>
                          </div>
                      </div>
                      <div class="mb-2">
                          <label for="gender"> Select Gender</label><br>
                          <div class="form-check form-check-inline">
                              <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Male" value="Male">
                              <label class="form-check-label" for="Male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Female" value="Female">
                              <label class="form-check-label" for="Female">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Other" value="Other" >
                              <label class="form-check-label" for="Other">Other</label>
                            </div>
                            <p *ngIf='storeallerrors'><span *ngIf='storeallerrors.gender' class=" text-danger "> {{storeallerrors.gender}} </span></p>
                          </div>
                       
                      <input type="submit" id="submit" class="btn btn-primary form-control btn-block" value="Sign Up">
      
                  </form>
                  </div>
              </div>
              
          </div>
        </div>
      </div>