<div class="card">
    <div class="card-body">

        <div class="">
            <h5>Photos</h5><br>
            <ul class="list-inline">
                <li class=" btn list-inline-item">Photos of Your</li>
                <li class=" btn list-inline-item">Your Photos</li>
                <li class=" btn list-inline-item">Albums</li>
            </ul>

        </div>
        <div class="row">

            <div *ngFor="let item of allPosts" class="col-md-3 my-2">
                <div style="height: 220px;" class="col-md-12">
                    <a
                        [href]="item.postUrl ? 'https://demofacebok-app-using-mean.onrender.com'+item.postUrl : 'https://demofacebok-app-using-mean.onrender.com/assets/images/userdefault.png'"><img
                            class="col-md-12" style="object-fit: cover;height: 100%;width: 100%;"
                            [src]="item.postUrl ? 'https://demofacebok-app-using-mean.onrender.com'+item.postUrl : 'https://demofacebok-app-using-mean.onrender.com/assets/images/userdefault.png'"
                            alt="">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>