<div style="margin: 5% 5%"  class="col-12">
    <div class="row">
        <div class="card col-md-4 offset-4 ">
            <div class="modal-header">
                    <h2>Find Your Account </h2> 
            </div>
            <div class="modal-body">
                <p>Please enter your email address or mobile number to search for your account</p>

                    <input #EmailID type="text" name="" id="" placeholder="Email address " class=" form-control form-control-lg">

            </div>
            <div class="modal-footer">
                
                <ul class="list-inline">
                    <li class="float-end list-inline-item"> <button  class="btn btn-primary" (click)="sendrecoveryMail(EmailID.value)" [disabled]="SendMail">Search</button> </li>
                    <li  style="background-color: rgb(228, 222, 230);" class="float-end btn list-inline-item text-dark mx-2" routerLink="">Cancel</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- EmailTemplate for recovery PassWord  -->
<!-- <div style="margin-left: 33%; width: 30%; ">
    <div>
        <h1 style="font-weight: 600; color: rgb(63, 63, 241);">Facebook</h1>
        <hr>
        <p>Hi Er Dhiraj,</p>
        <p style="line-height: 20px;">
We received a request to reset your Facebook password.
Enter the following password reset code:
        </p>

        <div style="background-color: rgb(202, 220, 231); color: black; padding: 15px 30px; border: 1px solid blue;font-weight: 600;border-radius: 10px; width: 28%; letter-spacing: 1px;">123456</div>
   <br> <p>Alternatively, you can directly change your password.</p> <br>
   <a href="" style="text-decoration: none;"><div style="background-color:rgb(63, 63, 241) ; color: white; border: 1px solid rgb(70, 70, 245);  letter-spacing: 1px;height: 35px;border-radius: 5px;"><h3 style="text-align: center;font-weight: 500;">Change Password</h3></div></a>

    </div>
</div> -->