<div style="overflow: hidden;">
    <div class="col-md-12">
        <div class="modal-content">
            <div class="modal-header">
                <div routerLink="/deskbook" class="col-md-2">
                    <button type="button" class="btn-close me-2 btn"
                        style="border: solid 1px gray; border-radius: 18px;font-weight: 200%;" routerLink="/deskbook"
                        aria-label="Close"></button>
                    <img height="35" width="35" src="http://localhost:2000/assets/images/desk1.png" alt="image">
                </div>
                <button type="button" class="btn-close" routerLink="/deskbook" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="modal-body col-md-3">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="row">
                                <strong style="font-size: x-large;" class="col-md-10"><span>Your Story</span> </strong>
                                <strong style="font-size: x-large;" class="col-md-2"><span><i
                                            style=" border: 2px solid gray; border-radius: 20px;" class="fa fa-cog  p-1"
                                            aria-hidden="true"></i></span></strong>
                            </div>
                            <div class="d-flex my-4">
                                <div class=" mx-2">
                                    <img height="60" width="60" style="border-radius: 30px; object-fit: cover;"
                                        [src]="loginUserDetails?loginUserDetails.profileUrl ? 'http://localhost:2000'+loginUserDetails.profileUrl : 'http://localhost:2000/assets/images/userdefault.png':'http://localhost:2000/assets/images/userdefault.png'">
                                </div>
                                <div style="text-decoration: none; color: black;" class="mx-2 mt-3">
                                    <p class=""> {{loginUserDetails?loginUserDetails.name:''}} </p>
                                </div>
                            </div>
                            <hr>
                            <div class="my-4" *ngIf="storysrc">
                                <img height="350" width="350" style="object-fit: contain;" [src]="storysrc" alt="">
                            </div>
                            <div *ngIf="storysrc" class="row">
                                <hr>
                                <button routerLink="/deskbook"
                                    class=" col-md-3 mx-2 px-4 btn btn-secondary mb-2">Discard</button>
                                <button class=" col-md-6 mx-2 px-4 btn btn-primary mb-2" (click)="oncreatestory()">Share
                                    to story</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="height: 630px;background-color: #F5F6F7;" class="modal-body col-md-9">
                    <div id="storybox" class="d-flex">
                        <div class="m-2">
                            <i data-visualcompletion="css-img"
                                style="background-image: url('http://localhost:2000/assets/images/storyBackground2.png'); background-position: 0px 0px; background-size: 222px 686px; width: 220px; height: 330px; background-repeat: no-repeat; display: inline-block;">
                                <div style="justify-content: center; display: flex; margin-top: 65%;">
                                    <div class="">
                                        <label for="file-input" class="circle">
                                            <i style="color: black; margin-top: 16px; margin-left: 16px;"
                                                class=" fa fa-file-image-o fa-lg" aria-hidden="true"></i>
                                        </label>
                                        <input (change)="onFilechangestory($event)" class="d-none" id="file-input"
                                            type="file" />
                                    </div>
                                </div>
                            </i>

                        </div>
                        <div class="m-2">
                            <i data-visualcompletion="css-img"
                                style="background-image: url('http://localhost:2000/assets/images/storyBackground2.png'); background-position: 0px -332px; background-size: 222px 686px; width: 220px; height: 330px; background-repeat: no-repeat; display: inline-block;">
                                <div style="justify-content: center; display: flex; margin-top: 65%;">
                                    <label for="file-input" class="circle">
                                        <i style=" color: black; margin-top: 16px; margin-left: 16px;"
                                            class="fa fa-font" aria-hidden="true"></i>
                                    </label>
                                </div>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>