<div class="alldiv">

    <div class="card-header">
        <div class="d-flex btnPointer">
            <div><img height="42" width="42" class="profileImgResize"
                    [src]="mySrc.user_id.profileUrl?'https://demofacebok-app-using-mean.onrender.com'+mySrc.user_id.profileUrl:'https://demofacebok-app-using-mean.onrender.com/assets/images/userdefault.png'"></div>
            <div class=" mt-2">
                <p class="text-primary mx-1"> {{mySrc.user_id.name}}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="col-8 offset-2">
                    <img [src]="'https://demofacebok-app-using-mean.onrender.com'+mySrc.storyUrl" class="mystory"
                        alt="" srcset="">
                </div>
            </div>
    </div>

</div>