<div class="container-fluid d-flex flex-column flex-grow-1 vh-100 overflow-hidden">
    <div  class="col-12 py-2">
       <app-main-header ></app-main-header>
    </div>
    <div class="row flex-grow-1 overflow-hidden">
        <div  style="border-right: 1px solid rgb(219, 219, 219);" class="col-md-3 mh-100 overflow-auto py-2">
            <app-friends-sidebar></app-friends-sidebar>
        </div>
    
        <div class="col-md-9 mh-100 overflow-auto py-2">
            <router-outlet></router-outlet>
        </div>
         
   
</div>
<div class="row flex-shrink-0 bg-light">
    <div class="col-12 pt-1">
        <p class="text-center">Footer ...</p>
    </div>
</div>
</div>
<app-search-user-result class="searchUser"></app-search-user-result>