<!-- create like model -->
<div>
    <div>
        <div *ngIf="modelData">
            <div class="modal-header">
                <p> <span class="m-3"> <strong> All </strong> {{modelData.likeCounts}} </span> <span class="m-3"><i
                            class="fa fa-thumbs-up text-primary" aria-hidden="true"></i>{{modelData.likeCounts}} </span>
                </p>
                <button type="button" class="btn-close"  mat-dialog-close aria-label="Close"></button>
            </div>
            <!-- {{item.user|json}} -->
            <div class="modal-body"  style="max-height: 350px; overflow-y: auto;">
                <ul *ngFor="let user of modelData.allLikeUsers" class="list-group list-group-flush">
                    <li  class="list-group-item">
                        <div (click)="navigateUser(user.userToken)" class="d-flex btnPointer">
                            <div><img
                                    height="38" width="38" style="border-radius: 19px;object-fit: cover;"
                                    [src]="user.profileUrl ? 'http://localhost:2000'+user.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"
                                   ></div>
                            <i class="fa fa-thumbs-up text-primary mt-4" aria-hidden="true"></i>
                            <div style="text-decoration: none; color: black;" class=" mt-2 mx-3">
                                <p class=""> {{user.name}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
