<div class="card-body" style="height: 100%;">
    <div *ngIf="data">
        <div class="row">
            <div class="col-4 offset-4">
                <img [routerLink]="'/profile/'+data.userToken" style="border-radius: 50%;object-fit: cover;"  class= "btnPointer" height="100" width="100" [src]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" alt="">
                <span [routerLink]="'/profile/'+data.userToken" style="font-size: 120%;" class="center btnPointer">{{data.name}}</span><br>
                <span>Active</span><br>
            </div>
        </div>
        <ul style="  list-style-type: none;">
            <li class="my-3" style="font-weight: 500; font-size:medium">Customize chat</li>
            <li class="my-3" style="font-weight: 500; font-size: medium;">media file links</li>
            <li class="my-3" style="font-weight: 500; font-size: medium;">Privacy and support</li>
        </ul>
    </div>
    
    </div>