<div class="d-flex flex-column  overflow-auto">
    <div  class="col-12 py-2">
       <app-main-header></app-main-header> 
    </div>
    <div class="flex-grow-1 overflow-hidden">
        <div class="row">
            <div class="col-md-2 mh-100 overflow-auto py-2">
            
            </div>
        
            <div class="col-md-8 mh-100 overflow-auto py-2">
                <app-profile-header></app-profile-header>
                <router-outlet ></router-outlet>
            </div>
             <div class="col-md-2 mh-100 overflow-auto py-2"> 
                
        </div>
        </div>
   
</div>
<app-footer></app-footer>
<app-search-user-result class="searchUser"></app-search-user-result>
</div>