/* .poststyle{
    height: 100%;
    left: 0%;
 width: calc(100%);
 font-family: inherit;
 position: absolute;
 top: 0;
 display: block;

} */

#storybox{
    padding-top: 10%;
    margin-left: 25%;
}

.circle{
    height: 50px;
width: 50px;
background-color: white;
border-radius: 50%;
}