<div style="overflow: hidden;">
<div>
    <ul class="list-inline">
        <li class=" btn  list-inline-item" routerLike="/facebook">Home</li>
        <li class=" btn list-inline-item">Favorites</li>
        <li class=" btn list-inline-item">Recent</li>
    </ul>
    <hr class="text-secondary">
    <app-show-stories class="d-flex" style="overflow-x: auto;" *ngIf="data" [loginUserId]="data._id" ></app-show-stories>
    
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="col-md-1 col-1">
                        <a
                        [routerLink]="'/profile/'+data.userToken"><img
                                height="50" width="50" style="border-radius: 25px; object-fit: cover;"
                                [src]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"
                                alt="hell">
                        </a>
                    </div>
                    <div class="col-md-11 col-11 mx-3 mt-2 mt-md-2">
                        <form>
                            <div class="input-group d-flex col-md-12">
                                <input *ngIf="data"  (focus)="onFocus()" style="border-top-left-radius:  23px; border-bottom-left-radius:  23px;" class="form-control " type="text"
                                placeholder="What's on your mind , {{data.name.substr(0,7)}} ?" aria-label="Search" name="addstatus" [(ngModel)]="addstatus">
                                <span (click)="toggleEmojiPicker()" style="border-top-right-radius:  23px; border-bottom-right-radius:  23px;" class=" input-group-text">😀</span>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <button class="btn col"><i class="fa text-danger fa-video-camera" aria-hidden="true"></i> Live
                        Video</button>
                    <button class="btn col" data-bs-toggle="modal" data-bs-target="#createPost"><i
                            class="fa text-success fa-picture-o" aria-hidden="true"></i>Photo Video</button>
                    <button class="btn col"><i class="fa text-warning fa-smile-o"
                            aria-hidden="true"></i>Feeling/Activity</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor=" let item of allPosts " class="row mt-md-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class=" col-md-1 col-1">
                        <a
                        [routerLink]="'/profile/'+item.postUser.userToken"><img
                                height="50" width="50" style="border-radius: 25px;object-fit: cover;"
                                [src]="item.postUser.profileUrl ? 'http://localhost:2000'+item.postUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"
                                alt="hell"></a>
                    </div>
                    <div [routerLink]="'/profile/'+item.postUser.userToken" class="col-md-6 col-6 mx-2">
                        <span style="text-decoration: none; color: black;" class=""><span class="">
                                {{item.postUser.name}}</span></span>
                        <p title="Public">{{item.createdAt | date:'medium'}} <i class="fa fa-firefox"
                                aria-hidden="true"></i>
                        </p>
                    </div>
                    <div *ngIf="data._id == item.postUser._id" class="col-md-1 col-1 offset-md-3">

                        <div class="nav-item  dropstart mx-2">
                            <a style="font-size: 19px;" class="nav-link active text-dark" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" data-bs-toggle="modal" (click)="edit(item)"
                                        data-bs-target="#UpdatePost">Edit Post</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#createAccount">Update Profile

                                    </a></li>
                                <li><a class="dropdown-item" (click)="deletePost(item)">Delete Post</a></li>

                            </ul>
                        </div>


                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <p title="Public">{{item.status}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <a href="http://localhost:2000{{item.postUrl}}"><img height="460" width="100%"
                            style=" object-fit: contain;" src="http://localhost:2000{{item.postUrl}}" alt="hell"></a>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <!-- <p (click)="onclick(item)"  data-bs-toggle="modal" data-bs-target="#createlike"> <i class="fa fa-thumbs-up text-primary" aria-hidden="true"></i> <span *ngIf="item.getlikes !='' " > You And {{item.likeCounts - 1}} Others  </span> <span *ngIf="item.getlikes =='' ">{{item.likeCounts}}</span> </p> -->
                        <p (click)="onclick(item)" data-bs-toggle="modal" data-bs-target="#createlike"> <i
                                class="fa fa-thumbs-up text-primary" aria-hidden="true"></i> {{ CheckUserLike(item.getlikes,data._id) &&
                            item.likeCounts ==1 ? 'You' : CheckUserLike(item.getlikes,data._id) && item.likeCounts > 1 ? 'You And
                            '+(item.likeCounts - 1)+' Others ' : item.likeCounts }} </p>

                    </div>
                    <div class="col-md-3 offset-md-3">
                        <!-- <p (click)="onclick(item)"  data-bs-toggle="modal" data-bs-target="#createlike"> <i class="fa fa-thumbs-up text-primary" aria-hidden="true"></i> <span *ngIf="item.getlikes !='' " > You And {{item.likeCounts - 1}} Others  </span> <span *ngIf="item.getlikes =='' ">{{item.likeCounts}}</span> </p> -->
                        <p (click)="oncomments(item)"> <span *ngIf=" item.commentCounts > 0 ">{{item.commentCounts}}
                                Comments</span> </p>

                    </div>

                </div>

                <hr>
                <div class="row">
                    <button (click)="onlike(item._id,item.postUser._id)" [class.text-primary]="CheckUserLike(item.getlikes,data._id)"
                        class=" btn col"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</button>
                    <button (click)="addcomment(item)" class="btn col"><i class="fa fa-comment" aria-hidden="true"></i>
                        Comment</button>
                    <button class="btn col"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</button>


                </div>
                <hr>
                <div  style="height: 110px;" *ngIf="comment.includes(item._id)" class="row mt-md-5 overflow-auto">

                    <div *ngFor="let comments of item.postcomment" class="row">
                        <div style="font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;"
                            class="d-flex">
                            <div class="mt-3 mx-2">
                                <a
                                    [href]="comments.usercomment_id.profileUrl ? 'http://localhost:2000'+comments.usercomment_id.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"><img
                                        height="35" width="35" style="border-radius: 17px; object-fit: cover;"
                                        [src]="comments.usercomment_id.profileUrl ? 'http://localhost:2000'+comments.usercomment_id.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"
                                        alt="hell">
                                </a>
                            </div>
                            <div style="background-color: rgb(245, 242, 246); border-radius: 18px; height: 56px;"
                                class="px-2 mt-md-2">
                                <div style="justify-content: center;" class="d-flex ">
                                    <div class="p-1"> <span style="font-weight: bold;">{{comments.usercomment_id.name}}
                                        </span> <span *ngIf="data._id==comments.usercomment_id._id"
                                            (click)="deleteComment(comments._id,item._id)" class="ms-2"><i
                                                class="fa fa-times" aria-hidden="true"></i></span>
                                        <br>
                                        <span class="">{{comments.comment}} </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div *ngIf="checkpostid==item._id" class="row">
                        <div class="d-flex">
                            <div class=" mx-2 mt-2">
                                <a
                                    [href]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"><img
                                        height="35" width="35" style="border-radius: 17px; object-fit: cover;"
                                        [src]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"
                                        alt="hell">
                                </a>
                            </div>
                            <div class="col-md-11 mt-md-2">
                                <div class="d-flex col-md-12">
                                    <div class="input-group">
                                        <input  (focus)="onFocus()" #comment (keyup.enter)="createcomment(comment,item)"
                                        style="border-top-left-radius:  23px; border-bottom-left-radius:  23px;" class="form-control" type="search"
                                        placeholder="Write a Comment..."  [(ngModel)]="addComments">
                                        <span (click)="toggleEmojiPicker3()" style="border-top-right-radius:  23px; border-bottom-right-radius:  23px;" class=" input-group-text">😀</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="input-group d-flex col-md-12">
                                <input *ngIf="data"  (focus)="onFocus()" style="border-top-left-radius:  23px; border-bottom-left-radius:  23px;" class="form-control " type="text"
                                placeholder="What's on your mind , {{data.name.substr(0,7)}} ?" aria-label="Search" name="addstatus" [(ngModel)]="addstatus">
                                <span (click)="toggleEmojiPicker()" style="border-top-right-radius:  23px; border-bottom-right-radius:  23px;" class=" input-group-text">😀</span>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>

        </div>



    </div>
</div>
<!-- create like model -->

<div style="margin-top: 140px;" class="modal fade" id="createlike" tabindex="-1" aria-labelledby="createlikeLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div *ngIf="moderdata" class="modal-header">
                <p> <span class="m-3"> <strong> All </strong> {{moderdata.likeCounts}} </span> <span class="m-3"><i
                            class="fa fa-thumbs-up text-primary" aria-hidden="true"></i>{{moderdata.likeCounts}} </span>
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- {{item.user|json}} -->
            <div *ngIf="moderdata" class="modal-body" style="height: 350px;">
                <ul *ngFor="let user of moderdata.getlikes" class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div  class="d-flex">
                            <a [href]="'/profile/'+user.userclick_id.userToken"
                               ><img
                                    height="38" width="38" style="border-radius: 19px;object-fit: cover;"
                                    [src]="user.userclick_id.profileUrl ? 'http://localhost:2000'+user.userclick_id.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"
                                    alt="hell"></a>
                            <i class="fa fa-thumbs-up text-primary mt-4" aria-hidden="true"></i>
                            <a [href]="'/profile/'+user.userToken" style="text-decoration: none; color: black;" class=" mt-2 mx-3">
                                <p class=""> {{user.userclick_id.name}}</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- Create Post   Modal -->
<div class="modal fade mt-2" id="createPost" tabindex="-1" aria-labelledby="createPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="card-header">
                <div class="text-end">
                    <a class="text-secondary " #createPostModalClose data-bs-dismiss="modal"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="text-center">Create Post </h4><br>


                <!-- <div *ngIf="createpostsuccess" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                    </button>
                    <strong>{{createpostsuccess}}</strong>
                </div> -->

                <div *ngIf="posterr" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                    </button>
                    <strong>{{posterr}}</strong>
                </div>

            </div>
            <div class="modal-body">


                <div class="card-body p-3">



                    <form [formGroup]='createPost' method="POST" id="AddUser" (submit)='oncreatepost()'>

                        <div class="row">
                            <div class=" col-md-2">
                                <a
                                    [href]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"><img
                                        height="50" width="50" style="border-radius: 25px; object-fit: cover;"
                                        [src]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"
                                        alt="hell"></a>
                            </div>
                            <div class="col-md-6">
                                <span style="text-decoration: none; color: black;" class=""><span class="">
                                        {{data.name}}</span></span>
                                <p title="Public"> <i class="fa fa-firefox" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class=" input-group">
                                    <input *ngIf="data" formControlName='status'  class="form-control "
                                    type="text" name="status" id="status" (focus)="onFocus()"
                                    placeholder="What's on your mind , {{data.name.substr(0,7)}} ?" aria-label="Search" [(ngModel)]="addstatus">
                                    <span (click)="toggleEmojiPicker1()"  class=" input-group-text">😀</span>
                                </div>
                            </div>

                        </div>
                        <div class="my-4 justify-content-center" *ngIf="imageSrc">
                            <img height="300" width="400" style="object-fit: cover;" [src]="imageSrc" alt="">
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <input formControlName='post' (change)="onFilePostChange($event)" accept='image/*'
                                    type="file" capture="capture" name="post" class="form-control col mx-1" id="post">

                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <input style="border-radius: 12px;" type="text" name="cretepost" disabled
                                    placeholder="Add to Your Post" class="form-control form-control-lg col mx-1"
                                    id="cretepost">
                            </div>
                        </div>

                        <button type="submit" id="submit" class="btn btn-primary form-control btn-block">Post</button>

                    </form>
                </div>
            </div>
            <emoji-mart  *ngIf="showEmojiPicker1" (emojiSelect)="addEmoji($event)"  class="emoji-mart"  set="twitter" emoji="point_up"  title="Emojis" [style]="{ position: 'absolute', bottom: '2%', right: '2%',width:'220px',height:'420px' }"></emoji-mart>


        </div>
    </div>
</div>



<!-- Update Post   Modal -->
<div class="modal fade mt-2" id="UpdatePost" tabindex="-1" aria-labelledby="UpdatePostLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="card-header">
                <div class="text-end">
                    <a class="text-secondary " #postupdateModalClose data-bs-dismiss="modal"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="text-center">Edit Post </h4><br>


                <!-- <div *ngIf="updatepostsuccess" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                    </button>
                    <strong>{{updatepostsuccess}}</strong>
                </div> -->

                <div *ngIf="updateposterr" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                    </button>
                    <strong>{{updateposterr.message?updateposterr.message:updateposterr}}</strong>
                </div>

            </div>
            <div class="modal-body">


                <div class="card-body p-3">

                    <form [formGroup]='UpdatePost' method="POST" id="UpdatePost" (submit)='onUpdatepost()'>

                        <div class="row">
                            <div class=" col-md-2">
                                <a
                                    [href]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"><img
                                        height="50" width="50" style="border-radius: 25px; object-fit: cover;"
                                        [src]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"
                                        alt="hell"></a>
                            </div>
                            <div class="col-md-6">
                                <span style="text-decoration: none; color: black;" class=""><span class="">
                                        {{data.name}}</span></span>
                                <p title="Public"> <i class="fa fa-firefox" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class=" input-group">
                                    <input *ngIf="data" formControlName='status' class="form-control "
                                    type="text" name="status" id="status1"
                                    placeholder="What's on your mind , {{data.name.substr(0,7)}} ?" aria-label="Search" (focus)="onFocus()">
                                    <span (click)="toggleEmojiPicker2()"  class=" input-group-text">🙂</span>
                                </div>

                            </div>

                        </div>
                        <div class="my-4" *ngIf="updatesrc">
                            <img height="300" width="400" style="object-fit: cover;" [src]="updatesrc" alt="">
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <input formControlName='post' (change)="onFileUpdatePostChange($event)" accept='image/*'
                                    type="file" capture="capture" name="post" class="form-control col mx-1" id="post1">

                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <input style="border-radius: 12px;" type="text" name="updatepost" disabled
                                    placeholder="Add to Your Post" class="form-control form-control-lg col mx-1"
                                    id="updatepost">
                            </div>
                        </div>

                        <button type="submit" id="Edit" class="btn btn-primary form-control btn-block"> Edit
                            Post</button>

                    </form>
                </div>

            </div>
            <emoji-mart  *ngIf="showEmojiPicker2" (emojiSelect)="addEmojiUP($event)"  class="emoji-mart"  set="twitter" emoji="point_up"  title="Emojis" [style]="{ position: 'absolute', bottom: '2%', right: '2%',width:'220px',height:'420px' }"></emoji-mart>

        </div>
    </div>
</div>

<!-- Create Stories -->

<div  class="modal fade" id="createStory" tabindex="-1" aria-labelledby="createStory" aria-hidden="true">
    <div  class="modal-dialog modal-fullscreen">
        <div  class="modal-content">
            <div class="modal-header">
                <div  routerLink="/facebook" class="col-md-2">
                    <img height="40" width="40" src="http://localhost:2000/assets/images/faceloco2png.png" alt="image">
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="row">
                <div class="modal-body col-3">
                    <div class="row">
                       <div class="col-md-12 ">
                          <div class="row">
                           <strong style="font-size: x-large;" class="col-md-10"><span>Your Story</span> </strong>
                           <strong  style="font-size: x-large;" class="col-md-2"><span><i style=" border: 2px solid gray; border-radius: 20px;" class="fa fa-cog  p-1" aria-hidden="true"></i></span></strong>
                          </div>
                          <div class="d-flex my-4">
                           <a class=" mx-2" [href]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'">  <img height="60" width="60" style="border-radius: 30px; object-fit: cover;" [src]="data.profileUrl ? 'http://localhost:2000'+data.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" alt="hell"></a>
                           <a style="text-decoration: none; color: black;" class="mx-2 mt-3" href=""><p class=""> {{data.name}}  </p> </a>
                       </div>
                       <hr>
                       <div class="my-4" *ngIf="storysrc">
                        <img height="350" width="350" style="object-fit: contain;" [src]="storysrc" alt="">
                    </div>
                    <!-- <div class="my-4" *ngIf="!storysrc">
                        <textarea name="" id="" cols="40" rows="8"></textarea>
                    </div> -->
                    <div *ngIf="storysrc" class="row">
                        <hr>

                        <button  data-bs-dismiss="modal" class=" col-md-3 ms-4 px-4 btn btn-secondary">Discard</button>
                        <button class=" col-md-6 mx-2 px-4 btn btn-primary" (click)="oncreatestory()" >Share to story</button>
                    </div>
                       </div>
                      
                    </div>
   
           </div>
           <div style="height: 648px;background-color: #F5F6F7;" class="modal-body col-md-9">
            <div id="storybox" class="d-flex">
                <div class="m-2">
                    <i data-visualcompletion="css-img" style="background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/kq7xZ-nsEAs.png'); background-position: 0px 0px; background-size: 222px 686px; width: 220px; height: 330px; background-repeat: no-repeat; display: inline-block;">
                        <div style="justify-content: center; display: flex; margin-top: 65%;">
                            <!-- <i style="background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/olyVHe8yWTr.png'); background-position: 0px -426px; background-size: 34px 510px; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i> -->
                        
                            <div class="">
                                <label for="file-input" class="circle">
                                    <i style="color: black; margin-top: 16px; margin-left: 16px;" class=" fa fa-file-image-o fa-lg" aria-hidden="true"></i>
                                </label>
                              
                                <input (change)="onFilechangestory($event)" class="d-none" id="file-input" type="file" />
                              </div>
                        </div>
                    </i>
                
                </div>
               <div class="m-2">
                   <i data-visualcompletion="css-img" style="background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/kq7xZ-nsEAs.png'); background-position: 0px -332px; background-size: 222px 686px; width: 220px; height: 330px; background-repeat: no-repeat; display: inline-block;">
                    <div style="justify-content: center; display: flex; margin-top: 65%;">
                        <div class="circle">
                            <i style=" color: black; margin-top: 16px; margin-left: 16px;" class="fa fa-font" aria-hidden="true"></i>  
                        </div>                 
                     </div>
                   </i>
               </div>
               
            </div>

 
   </div>

              </div>
        
    </div>
</div>
</div>

<emoji-mart *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"  class="emoji-mart"  set="twitter" emoji="point_up"  title="Add Your Emojis" [style]="{ position: 'absolute', bottom: '30%', right: '25%' }"></emoji-mart>
<emoji-mart *ngIf="showEmojiPicker3" (emojiSelect)="addEmojiUPOnComment($event)"  class="emoji-mart"  set="twitter" emoji="point_up"  title="Add Your Emojis" [style]="{ position: 'absolute', bottom: '30%', right: '25%' }"></emoji-mart>
