<div class="card">
    <div class="card-body">
        <h4>Intro</h4>
        <div>
            <button *ngIf="(loginUserDetails && currentVisitedUserDetails) && (loginUserDetails._id==currentVisitedUserDetails._id)"  class="form-control  " (click)="openEditProfileComponent()">Edit Profile Details</button><br>
        </div>
        <div *ngIf="currentVisitedUserDetails && currentVisitedUserDetails.user_info">
        <p *ngIf="currentVisitedUserDetails.user_info.workplace"> <span><i class="fa fa-briefcase"></i></span> {{ currentVisitedUserDetails.user_info.workplace}}<p>
        <p *ngIf="currentVisitedUserDetails.user_info.university" > <span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span> Studied at {{currentVisitedUserDetails.user_info.university}}</p>
        <p *ngIf="currentVisitedUserDetails.user_info.currentCity"> <span><i class="fa fa-home" aria-hidden="true"></i></span> Lives in {{currentVisitedUserDetails.user_info.currentCity}}</p>
        <p *ngIf="currentVisitedUserDetails.user_info.homeTown"> <span><i class="fa fa-map-marker" aria-hidden="true"></i></span> From {{currentVisitedUserDetails.user_info.homeTown}}</p>
        <p *ngIf="currentVisitedUserDetails.user_info.created_at"> <span><i class="fa fa-clock"></i></span> Joined June {{currentVisitedUserDetails.created_at | date:'mediumDate'}}</p>
        <p *ngIf="currentVisitedUserDetails.user_info.relation"> <span><i class="fa fa-heart"></i></span> {{currentVisitedUserDetails.user_info.relation }}</p>
    </div>
    </div>
</div>