    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        

        <div class="modal-header mt-2">
            <div class="text-end">
                <a class="text-secondary btn-close" mat-dialog-close></a>
            </div>
            <h2 class="text-center ">Update {{data.name}} </h2><br>


        </div>
        <div style="height: 500px;" class="modal-body">
  
          <div class="card-body p-4">
  
            <form [formGroup]="createAccountForm" method="post" id="UpdateUser" (submit)="updateUser()">
  
              <!-- <div *ngIf="updateSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  </button>
                  <strong>{{updateSuccess}}</strong>
                </div> -->
              <div *ngIf="updateError" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                <strong>{{updateError.message?updateError.message:updateError}}</strong>
              </div>
  
              <div class="mb-3">
                <div class="row">
                  <input formControlName="fname" type="text" placeholder="Ex Dhiraj" name="fname"
                    class="form-control col mx-1" id="fname">
                  <input type="text" formControlName="lname" placeholder="Ex Thakare" name="lname"
                    class="form-control col mx-1" id="lname">
                </div>
                <div class="my-3">
                  <label>Profile Photo : </label>
                </div>
                <div  *ngIf="profileSrc">
                  <img id="profilephoto" style="object-fit: contain;max-height:400px;max-width:500px " [src]="profileSrc" alt="">
                </div>
                <div>
                  <image-cropper 
                  style="max-height:400px;max-width:500px"
                  [imageChangedEvent]="imageChangeEvt"
                  [aspectRatio]="4/4"
                  [maintainAspectRatio]="true"
                  format="jpeg"
                  (imageCropped) = "cropImg($event)"
                  >
                  </image-cropper>
              </div>
  
              </div>
  
              <div class="mb-3">
                  <input formControlName='profile' (change)="onFileChange($event)" accept='image/*' type="file"
                    name="profile" class="form-control col" id="profile">
                </div>
            <div class="mb-2 ">
                <mat-form-field appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <!-- <input (dateChange)="changeDate()" formControlName="birthOfDate" name="birthOfDate" id="birthOfDate" matInput [matDatepicker]="picker"> -->
                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker (viewChanged)="changeDate()" #picker></mat-datepicker> -->
                  </mat-form-field>
            </div>
              <div class="mb-2">
                <label for="gender"> Select Gender</label><br>
                <div class="form-check form-check-inline">
                  <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Male"
                    value="Male">
                  <label class="form-check-label" for="Male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Female"
                    value="Female">
                  <label class="form-check-label" for="Female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="Other"
                    value="Other">
                  <label class="form-check-label" for="Other">Other</label>
                </div>
              </div>
              <input type="submit" id="update" class="btn btn-primary form-control btn-block" value="Update User">
  
            </form>
          </div>
        </div>
  
      </div>
    </div>