<h6 class="text-secondary"> Contacts </h6>

<div *ngIf="friends">
    <ul *ngFor="let item of friends.user_Friends " class="list-group list-group-flush">

        <li class="list-group-item">
            <div class="d-flex">
                <strong style="font-size: xx-large;" class="text-success">.</strong> 
                <a  [routerLink]="'/profile/'+item.friend_id.userToken">  <img height="42" width="42" style="border-radius: 21px; object-fit: cover;" [src]="item.friend_id.profileUrl ? 'http://localhost:2000'+item.friend_id.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" alt="hell"></a>
                <a  [routerLink]="'/profile/'+item.friend_id.userToken" style="text-decoration: none; color: black;" class=" mt-2" ><p class=""> {{item.friend_id.name}}  </p> </a>
            </div>
        </li>
        
    
    </ul>
</div>