<div class="header-container">
  <div class="header-wrap">
    <div class="section-container">
      <div routerLink="/deskbook" class="">
        <img
          height="50"
          width="50"
          src="http://localhost:2000/assets/images/desk-book-icon.png"
        />
      </div>
      <div>
        <form class="search-box">
          <input
            (focus)="onFocus()"
            (blur)="onblur()"
            (keyup)="searchFriends(searchFriend.value)"
            style="border-radius: 23px"
            #searchFriend
            class="form-control"
            type="search"
            placeholder="Search DeskBook"
            aria-label="Search"
          />
        </form>
      </div>
    </div>
    <div class="section-container">
      <div routerLink="/deskbook" class="home-button btnPointer">
        <div class="nav-link text-primary iconDiv" aria-current="page">
          <i class="fa fa-home fa-lg" aria-hidden="true"></i>
        </div>
      </div>
      <div class="btnPointer progress-div">
        <div class="nav-link text-primary iconDiv" aria-current="page">
          <i class="fa fa-caret-square-o-right fa-lg" aria-hidden="true"></i>
        </div>
      </div>
      <div class="btnPointer progress-div">
        <div class="nav-link text-primary iconDiv" aria-current="page">
          <i class="fa fa-gamepad fa-lg" aria-hidden="true"></i>
        </div>
      </div>
      <div class="btnPointer">
        <div class="nav-link text-primary iconDiv" aria-current="page">
          <i
            class="fa fa-users fa-lg"
            [routerLink]="'/friends'"
            aria-hidden="true"
          ></i>
        </div>
      </div>
      <div class="btnPointer iconDiv progress-div">
        <div class="nav-link iconDiv active">
          <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
        </div>
      </div>
      <div class="btnPointer iconDiv progress-div">
        <div class="nav-link text-primary" aria-current="page">
          <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="section-container">
      <div
        class="btnPointer"
        [routerLink]="
          loginUserDetails
            ? '/profile/' + loginUserDetails.userToken
            : loginUserDetails
        "
      >
        <img
          class="profileImgResize"
          height="42"
          width="42"
          [src]="
            loginUserDetails
              ? loginUserDetails.profileUrl
                ? 'http://localhost:2000' + loginUserDetails.profileUrl
                : 'http://localhost:2000/assets/images/userdefault.png'
              : 'http://localhost:2000/assets/images/userdefault.png'
          "
        />
      </div>
      <div
        class="btnPointer profile-name"
        [routerLink]="
          loginUserDetails
            ? '/profile/' + loginUserDetails.userToken
            : loginUserDetails
        "
        routerLike="/deskbook"
      >
        <p>
          {{
            (loginUserDetails ? loginUserDetails.name.substr(0, 7) : "")
              | uppercase
          }}
        </p>
      </div>
      <div class="mx-2 btnPointer progress-div">
        <div
          style="color: black !important"
          class="nav-link iconDiv active"
          aria-current="page"
        >
          <i class="fa fa-th fa-lg" aria-hidden="true"></i>
        </div>
      </div>
      <div class="mx-2 btnPointer">
        <div
          [routerLink]="'/messenger'"
          style="color: black !important"
          class="nav-link iconDiv active"
        >
          <i class="fa fa-commenting fa-lg" aria-hidden="true"></i>
        </div>
      </div>
      <div class="dropstart mx-2">
        <div
          style="color: black !important"
          class="nav-link iconDiv active"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa fa-caret-square-o-down fa-lg" aria-hidden="true"></i>
        </div>
        <ul class="dropdown-menu btnPointer" aria-labelledby="navbarDropdown">
          <li>
            <span class="dropdown-item" routerLink="/deskbook">home</span>
          </li>
          <li>
            <span class="dropdown-item" (click)="openUpdateUserDialog()"
              >Update Profile</span
            >
          </li>
          <li *ngIf="loginUserDetails" [routerLink]="'/friends'">
            <a class="dropdown-item">Friends</a>
          </li>
          <!-- <li><hr class="dropdown-divider"></li> -->
          <li><span class="dropdown-item" (click)="logout()">LogOut</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
