
          <div class="col-md-12">
            <div class="row">
                <div class="card col-md-4 offset-4 ">
                    <div class="modal-header">
                            <h2>Choose a new password </h2> 
                    </div>
                    <div class="modal-body">
                        <p>Create a new password that is at least 6 characters long. A strong password has a combination of letters, digits and punctuation marks.</p>
        
                            <input #newPass type="password" name="nPassword" id="nPassword" placeholder="New password" class=" form-control form-control-lg">
        
                    </div>
                    <div class="modal-footer">
                        
                        <ul class="list-inline">
                            <li  class="float-end btn btn-primary list-inline-item" (click)="changePassword(newPass.value)" >Continue</li>
                            <li  style="background-color: rgb(228, 222, 230);" class="float-end btn list-inline-item text-dark mx-2" routerLink="/recover">Skip</li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        