<div *ngIf="LoginUserDetails && LoginUserDetails._id == loginUserId"  style="cursor: pointer;"  routerLink="/stories/create" class=" card col-3 ">
    <a class=""><img style=" object-fit: contain; "
        height="200" width="100%" [src]="LoginUserDetails.profileUrl ? 'http://localhost:2000'+LoginUserDetails.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" ></a>
    <div class="card-footer">
        <p class=" text-primary text-center"><i class=" fa fa-plus-circle fa-lg" aria-hidden="true"></i></p>
       <p class="text-center"> create Story</p>
    </div>
</div>

<div *ngIf="userstory && userstory[0]" class=" col-3">
    <div (click)="openSilder(userstory,0)" class=" card">
        <a class=""><img style=" object-fit: contain; "
            height="200" width="100%" [src]="'http://localhost:2000'+userstory[0].storyUrl" alt=""></a>
    <div  class="card-footer">
        <p style="color: white" class=" text-center"><i class=" fa fa-plus-circle fa-lg" aria-hidden="true"></i></p>
       <p class="text-center"> {{userstory[0].user_id.name }}</p>
    </div>
    </div>
</div>
<div *ngFor="let item of userFriensStory;let index = index" class=" col-3">
    <div  (click)="openSilder(userFriensStory,index)" *ngIf="LoginUserDetails && LoginUserDetails._id == loginUserId"  class="card">
        <a class="" ><img style=" object-fit: contain; "
            height="200" width="100%" [src]="'http://localhost:2000'+item.storyUrl" alt=""></a>
    <div  class="card-footer">
        <p style="color: white" class=" text-center"><i class=" fa fa-plus-circle fa-lg" aria-hidden="true"></i></p>
       <p class="text-center"> {{item.user_id.name }}</p>
    </div>
    </div>
</div>

