

<div>
    <ul cdkDropList (cdkDropListDropped)="drop($event)" class="dragger-container">
      <li *ngFor="let nav of navNode"
        [routerLink]="nav.route"
        class="list-item-wrap"
        [cdkDragBoundary]="'.col-cont'"
        cdkDrag
        tabindex="0"
        [cdkDragBoundary]="'.dragger-container'"
      >
        <div  cdkDragHandle class="list-view-container">
          <img
            class="img-icon"
            [src]="'../../../../assets/icons/'+nav.icon"

            />
          <p class="title">{{nav.value}}</p>
        </div>
      </li>
    </ul>
  </div>