<div class="d-flex flex-column flex-grow-1 vh-100 overflow-hidden">
    <div id="header" class="col-12 py-2">
       <app-main-header ></app-main-header>
    </div>
    <div id="main" class="row flex-grow-1 overflow-hidden">
        <div id="sidebar1" style="width:20%;border-right: 1px solid rgb(219, 219, 219);" class=" mh-100 mx-1 overflow-auto py-2">
            <app-messanger-sidebar-right></app-messanger-sidebar-right>
        </div>
    
        <div style="width:50%" class=" mh-100 overflow-auto py-2">
            <router-outlet ></router-outlet>
        </div>
         <div id="sidebar2" style="width:30%;border-left: 1px solid rgb(219, 219, 219);" class=" mh-100 overflow-auto py-2"> 
            <app-messanger-sidebar-left></app-messanger-sidebar-left>
    </div>
   
</div>
<app-footer></app-footer>
</div>