<div class="container-fluid d-flex flex-column flex-grow-1 vh-100 overflow-hidden">
    <div id="header" class="col-12 py-2">
       <app-header ></app-header>
    </div>
    <div id="main" class="row flex-grow-1 overflow-hidden">
        <div id="sidebar1" style="width:30%" class=" mh-100 overflow-auto py-2">
            <app-sidebar ></app-sidebar>
        </div>
    
        <div id="main_container" style="width:40%" class=" mh-100 overflow-auto py-2">
            <router-outlet ></router-outlet>
        </div>
         <div id="sidebar2" style="width:30%" class=" mh-100 overflow-auto py-2"> 
            <app-sidebar2></app-sidebar2>
    </div>
   
</div>
<div id="footer" class="row flex-shrink-0 bg-light">
    <div class="col-12 pt-1">
        <p class="text-center">Footer ...</p>
    </div>
</div>
</div>
<app-search-user-result   [style]="{ position: 'absolute', top: '13%', left: '0%', backgroundColor:'white',width:'330px' }"></app-search-user-result>