@media (max-width: 769px){
    
    #sidebar1 {
        display: none;

    }
    #sidebar2{
        display: none;
    }
    #main_container{
        width: 100% !important ;
    }
}
@media (min-width: 769px){

    
}