<div class="card">
    <div class="card-body">

            <div class="">
                <h5>Photos</h5><br>
            <ul class="list-inline">
            <li class=" btn list-inline-item">Photos of Your</li>
            <li class=" btn list-inline-item">Your Photos</li>
            <li class=" btn list-inline-item">Albums</li>
           </ul>

            </div>

            
                    <div  class="row">

                        <div *ngFor="let item of allPosts" class="col-md-3 my-2" >
                            <div  style="height: 220px;" class="col-md-12">
                                <a [href]="item.postUrl ? 'http://localhost:2000'+item.postUrl : 'http://localhost:2000/assets/images/userdefault.png'"><img class="col-md-12" style="object-fit: cover;height: 100%;width: 100%;" [src]="item.postUrl ? 'http://localhost:2000'+item.postUrl : 'http://localhost:2000/assets/images/userdefault.png'" alt="">
                                </a>
                            </div>
                           
                        </div> 
                        
                
                    </div>
                    
                
                <!-- <div >
            
                        <img style="height: 510px;width: 100%;" src="http://localhost:8000/images/null_states_people_gray_wash.svg" alt="">
                        <p class="text-center">You Dont Have Friends</p>
                </div> -->
            </div>
            
            
            

</div>