<!-- Create Account  Modal -->
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header mt-2">
      <div class="text-end">
        <a class="text-secondary btn-close" mat-dialog-close></a>
      </div>
      <h2 class="text-center">Add new User</h2>
      <br />
    </div>
    <div class="modal-body" style="height: 420px">
      <div class="card-body">
        <form
          [formGroup]="createAccountForm"
          method="post"
          id="AddUser"
          (submit)="onSubmit()"
        >
          <div *ngIf="storeAllErrors">
            <div
              *ngIf="
                !storeAllErrors.fname &&
                !storeAllErrors.lname &&
                !storeAllErrors.email &&
                !storeAllErrors.gender &&
                !storeAllErrors.birthOfDate
              "
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <strong>{{ storeAllErrors }}</strong>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>

          <div class="">
            <div class="row">
              <div class="col-md-6 mb-3">
                <input
                  formControlName="fname"
                  type="text"
                  placeholder="Ex Dhiraj"
                  name="fname"
                  class="form-control"
                  id="fname"
                />
                <p *ngIf="storeAllErrors">
                  <span *ngIf="storeAllErrors.fname" class="text-danger"
                    >{{ storeAllErrors.fname }}.</span
                  >
                </p>
              </div>
              <div class="col-md-6 mb-3">
                <input
                  type="text"
                  formControlName="lname"
                  placeholder="Ex Thakare"
                  name="lname"
                  class="form-control"
                  id="lname"
                />
                <p *ngIf="storeAllErrors">
                  <span *ngIf="storeAllErrors.lname" class="text-danger"
                    >{{ storeAllErrors.lname }}.</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <input
                  type="email"
                  formControlName="email"
                  name="email"
                  placeholder="Ex example@gmail.com"
                  class="form-control"
                  id="email"
                />
                <p *ngIf="storeAllErrors">
                  <span *ngIf="storeAllErrors.email" class="text-danger">
                    {{ storeAllErrors.email }}
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <input
                  autocomplete="false"
                  type="password"
                  formControlName="password"
                  name="password"
                  placeholder="Password"
                  class="form-control"
                  id="password"
                />
                <p *ngIf="storeAllErrors">
                  <span *ngIf="storeAllErrors.password" class="text-danger">
                    {{ storeAllErrors.password }}
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="mb-2">
            <mat-form-field appearance="outline">
              <mat-label>Date Of Birth</mat-label>
              <input
                formControlName="birthOfDate"
                name="birthOfDate"
                id="birthOfDate"
                matInput
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <p *ngIf="storeAllErrors">
              <span *ngIf="storeAllErrors.birthOfDate" class="text-danger">
                {{ storeAllErrors.birthOfDate }}
              </span>
            </p>
          </div>

          <div class="mb-2">
            <div class="row">
              <div class="col">
                <label for="gender"> Select Gender</label><br />
                <div class="form-check form-check-inline">
                  <input
                    formControlName="gender"
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="Male"
                    value="Male"
                  />
                  <label class="form-check-label" for="Male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    formControlName="gender"
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="Female"
                    value="Female"
                  />
                  <label class="form-check-label" for="Female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    formControlName="gender"
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="Other"
                    value="Other"
                  />
                  <label class="form-check-label" for="Other">Other</label>
                </div>
                <p *ngIf="storeAllErrors">
                  <span *ngIf="storeAllErrors.gender" class="text-danger">
                    {{ storeAllErrors.gender }}
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  id="submit"
                  class="btn btn-primary form-control btn-block"
                  value="Sign Up"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
