
<div class="row">
    <div class="card">
    <div class="card-body">
        <div class="d-flex">
            <div class="col-md-1 col-1">
                <div [routerLink]="loginUserDetails?'/profile/'+loginUserDetails.userToken:''" class="btnPointer"><img
                        height="50" width="50" style="border-radius: 25px; object-fit: cover;"
                        [src]="loginUserDetails?loginUserDetails.profileUrl ? 'https://demofacebok-app-using-mean.onrender.com'+loginUserDetails.profileUrl : 'https://demofacebok-app-using-mean.onrender.com/assets/images/userdefault.png':'https://demofacebok-app-using-mean.onrender.com/assets/images/userdefault.png'"
                       >
            </div>
            </div>
            <div class="col-md-11 col-11 profileSection mt-2 mt-md-2">
                <form>
                    <div class="input-group d-flex col-md-12">
                        <input *ngIf="loginUserDetails"  (focus)="onFocus()" style="border-top-left-radius:  23px; border-bottom-left-radius:  23px;" class="form-control " type="text"
                        placeholder="What's on your mind , {{loginUserDetails.name?loginUserDetails.name.substr(0,7):''}} ?" aria-label="Search" name="addStatus" [(ngModel)]="addStatus">
                        <span (click)="toggleEmojiPicker()" style="border-top-right-radius:  23px; border-bottom-right-radius:  23px;" class=" input-group-text btnPointer">😀</span>
                    </div>
    
                </form>
                <emoji-mart *ngIf="createPostEmojiPicker" (emojiSelect)="addEmoji($event)"  class="emoji-mart"  set="twitter" emoji="point_up"  title="Add Your Emojis" [style]="{ position: 'absolute', bottom: '85%', right: '20%' }"></emoji-mart>

            </div>
        </div>
    
    </div>
    
    <div class="row mt-2">
        <div class="card">
            <div class="card-body">
                    <div class="row">
                        <button class="btn col progress-div"><i class="fa text-danger fa-video-camera" aria-hidden="true"></i> Live
                            Video </button>
                        <button class="btn col" (click)="OpenDia()" ><i
                                class="fa text-success fa-picture-o" aria-hidden="true"></i> Photo Video </button>
                        <button class="btn col progress-div"><i class="fa text-warning fa-smile-o"
                                aria-hidden="true"></i> Feeling/ Activity </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    