
<div *ngIf="!currentUser&&!data" style="margin-top: 5%;"  class=" text-center">
    <img  src="../../assets/loader.gif" alt="">
</div>
<div *ngIf="currentUser&&data">
    <div>
        <div style="height: 400px;width: 100%;">
            <a style=" text-decoration: none;" [href]=" currentUser.user_info ? 'http://localhost:2000'+currentUser.user_info.CoverPhoto : ''">  <div [style]="currentUser.user_info ? 'background-image: url('+'http://localhost:2000'+ currentUser.user_info.CoverPhoto+')':'background-color: white;'"  style="height: 300px;width: 100%; background-position: center; background-size: cover;background-repeat: no-repeat; "> 
        
                <div style="padding-top: 210px; margin-left: 42%;" class=" ">
                    <a style=" text-decoration: none;" [href]="currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"><img style="border-radius: 80px; object-fit: cover;" height="160" width="160" [src]="currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" alt="">
      
                    </a>
                    
                </div>
                <h2 *ngIf="currentUser" style=" color:black ; text-align: center;">{{currentUser.name.substr(0,15)}}</h2>

            </div>

            </a>

        </div>

        <hr>
       <div class="col-12"> 
        <div class="row">
            <ul class="list-inline">
                <li  [routerLink]="'/profile/'+currentUser.userToken"  class=" btn  list-inline-item " routerLike="/deskbook">Posts</li>
                <li routerLink="about"  class=" btn list-inline-item">About</li>
                <li routerLink="photos" class=" btn list-inline-item">Photos</li>
                <li routerLink="archive" class=" btn  list-inline-item" routerLike="/deskbook">Story Archive</li>
                <li routerLink="friends" class=" btn list-inline-item">Friends</li>
                <li class=" btn list-inline-item">Video</li>
                <li *ngIf="friendsId.includes(currentUser._id) && data._id!=currentUser._id" style="background-color: rgb(228, 222, 230);" class="mx-1 float-end btn list-inline-item"><span  id="navbarDropdownMenuLink"  data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="btn fab fas fa-user-check text-dark"></i>
                </span>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-item">Favorites</li>
                    <li class="dropdown-item" (click)="removeFriend()">Unfriend</li>
                    <li class="dropdown-item">Unfollow</li>
                  </ul>
                </li>
                <!-- <li class=" btn list-inline-item" >More</li> -->
                    <!-- <li style="background-color: rgb(228, 222, 230);" class="mx-1 float-end btn list-inline-item"><i class="btn fab fas fa-user-check text-dark"></i></li> -->
                    <li *ngIf="data._id==currentUser._id" data-bs-toggle="modal" data-bs-target="#editProfile" style="background-color: rgb(228, 222, 230);" class="mx-1 float-end btn list-inline-item"><i class="btn fa fa fa-edit text-dark" ></i>Edit Profile</li>
                    <!-- <li *ngIf="data._id != currentUser._id && friendsId.includes(currentUser._id)"  style="background-color: rgb(228, 222, 230);" class="mx-1 float-end btn list-inline-item" data-bs-toggle="modal" data-bs-target="#messagermodal" ><i class="btn fab fa-facebook-messenger text-dark" (click)="messangerClick()" > <strong> Message</strong></i></li> -->
                    <!-- <li *ngIf="data._id != currentUser._id && friendsId.includes(currentUser._id)"  style="background-color: rgb(228, 222, 230);" class="mx-1 float-end btn list-inline-item" (click)="OpenMessangerDia()"> <strong> Message</strong></li> -->
                    <li *ngIf="data._id != currentUser._id && friendsId.includes(currentUser._id)"  style="background-color: rgb(228, 222, 230);" class="mx-1 float-end btn list-inline-item" (click)="OpenMessangerDia()"><i class="btn fab fa-facebook-messenger text-dark" > <strong> Message</strong></i></li>

                    <li *ngIf="data._id != currentUser._id "  (click)="friendsId.includes(currentUser._id) ? '':sendRequest(data._id,currentUser._id)" style="background-color: rgb(240, 255, 255);" class="mx-1 text-primary float-end btn list-inline-item"> <i class="btn fa text-primary"  [class]=" friendsId.includes(currentUser._id) ? 'fa fa-user':'fa fa-user-plus'"  aria-hidden="true"></i> {{friendsId.includes(currentUser._id) ? ' Friend ':' Add Friend '}}</li>
                </ul>
        </div>
       </div>
    </div>
    <hr>
    <!-- Edit Profile   Modal -->
        <div style="margin-top: 50px;"  class="modal fade " id="editProfile" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
            <form [formGroup]='editProfile' method="POST" id="edit" (submit)='oneditprofile()'>
        
            <div class="modal-dialog modal-dialog-scrollable  modal-lg" >
                <div class="modal-content" >
                    <div class="card-header">
                        <div class="text-end">
                            <a class="text-secondary" #editModelClose data-bs-dismiss="modal"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="text-center">Edit  Details </h4>
        
        
                        <!-- <div *ngIf="createpostsuccess" class="alert alert-primary alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        
                            </button>
                            <strong>{{createpostsuccess}}</strong>
                        </div>
        
                        <div *ngIf="posterr" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        
                            </button>
                            <strong>{{posterr}}</strong>
                        </div> -->
        
                    </div>
                    <div class="modal-body" style="height: 450px;"> 
        
        
                        <div class="card-body p-3">
        
                                <div>
                                    <h5>Customise your Intro</h5>
                                    <p>Details that you select will be public and won't be posted to News Feed.</p>
                                </div>
        
                            
        
                                <div class="mb-3">
                                    <div class="row">
                                        <h5 for="workplace"> Work</h5><br>
                                        <input formControlName='workplace'  class="form-control "
                                            type="text" name="workplace" id="workplace"
                                            placeholder="Add a WorkPlace" aria-label="Search">
                                            <input type="hidden" name="user_id" id="user_id" formControlName='user_id' value="" >
                                    </div>
        
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <h5 for="highSchool"> Education</h5><br>
                                        <input formControlName='highSchool'  class="form-control "
                                            type="text" name="highSchool" id="highSchool"
                                            placeholder="Add a high School" >
                                        
                                    </div>
        
                                </div>
                                
                                <div class="mb-3">
                                    <div class="row">
                        
                                            <input formControlName='university'  class="form-control "
                                            type="text" name="university" id="university"
                                            placeholder="Add a University" >
                                    </div>
        
                                </div>
                                <div class="mb-3">
                                    Cover Photo :
                                    <div class="my-4 justify-content-centerm mb-3" *ngIf="CoverPhoto">
                                        <img height="300" width="100%" style="object-fit: cover;" [src]="CoverPhoto" alt="">
                                    </div><br>
                                    <div class="mb-3">
                                        <div class="row">
                                            <input formControlName='CoverPhoto'  (change)="onChangeCoverPhoto($event)" accept='image/*'
                                                type="file" capture="capture" name="CoverPhoto" class="form-control col mx-1" id="CoverPhoto">
            
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <h5 for="currentCity">Current town/city</h5><br>
                                        <input formControlName='currentCity'  class="form-control "
                                            type="text" name="currentCity" id="currentCity"
                                            placeholder="Add a Current City" ><br>
                                            
                                    </div>
        
                                </div>
        
                                <div class="mb-3">
                                    <div class="row">
                                        <h5 for="homeTown">Home town</h5><br>
                                        <input formControlName='homeTown'  class="form-control "
                                            type="text" name="homeTown" id="homeTown"
                                            placeholder="Add Home Town" ><br>
                                            
                                    </div>
        
                                </div>
        
                                <div class="mb-3">
                                    <!-- <div class="row"> -->
                                        <h5 for="relationship">RelationShip</h5><br>
                                        <select formControlName='relation'  name="relation" class="form-select" id="relation">
                                            <option  value="">status</option>
                                            <option value="single">single</option>
                                            <option value="in a relationship">in a relationship</option>
                                            <option value="engaged">engaged</option>
                                            <option value="married">married</option>
                                            <option value="it's complicated">it's complicated</option>
        
        
                                        </select>
                                            
                                    <!-- </div> -->
        
                                   
        
                                </div>
                                
        
                                <!-- <button #submit  type="submitbtn"  id="submit" class=" btn btn-primary form-control btn-block">Save</button> -->
        
                           
                        </div>
                    </div>
                    <div class=" modal-footer">
                            <div>
                                <ul class="list-inline">
                                    <li style="margin-right: 400px;" class="text-primary  list-inline-item" routerLike="/deskbook">Update You information</li>
                                    <li style="background-color: rgb(228, 222, 230);" class="mx-2 float-end btn list-inline-item" data-bs-dismiss="modal"> <strong> Cancel</strong></li>
                                    <li  class="mx-2  float-end  list-inline-item"><button type="submit" class="btn btn-primary" >save</button></li>
                            </ul>
                            
                            </div>
                    </div>
        
                </div>
            </div>
        </form>
        
        </div>
    
        <!-- messanger  -->
        <!-- data-keyboard="false" data-backdrop="static" -->
            <div style="margin-top: 80px;"  class="modal fade " id="messagermodal" tabindex="-1" aria-labelledby="messagermodalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
                <div class="modal-dialog modal-dialog-scrollable" >
                    <div class="modal-content" >
    
         <div class="row" style="height: 50px;">
                    <div style="border-bottom: 1px solid rgb(207, 205, 205);">
                        <span class="float-end m-3" #editModelClose data-bs-dismiss="modal" (click)="closemessanger()"><i class="fa fa-times"></i></span>
    
                    <div class="d-flex">
                        <a class=" mx-2"  ><img height="38" width="38" style="border-radius: 21px;object-fit: cover;" [src]=" currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" ></a>
                        <a *ngIf="currentUser" style="text-decoration: none; color: black; margin-top: 10px;" class=" mx-2"  ><h5 class="">{{currentUser.name.substr(0,15)}}</h5></a>
                    </div>
                </div>
         </div>
    
        <div  style="height:400px; " class=" modal-body">
            <div style=" margin-left: 39%;" class=" ">
                <a style=" text-decoration: none;" [href]="currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'"><img style="border-radius: 80px; object-fit: cover;" height="100" width="100" [src]="currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" alt="">
                   
                </a>
            </div>
            <h3 *ngIf="currentUser" class="text-center" style=" color:black ;">{{currentUser.name.substr(0,15)}}</h3>
            <div *ngIf="currentUser">
                <p class="text-center" >Deskbook</p>
            <p class="text-center" >On deskbook {{currentUser.created_at | date:'medium'}}</p>
            <p  *ngIf="currentUser.user_info" class="text-center" >{{currentUser.user_info.homeTown ? currentUser.user_info.homeTown : 'Not Mention'}}</p>
            </div>
    
            <div *ngIf="allmessage" class="row">
                        <!-- Reciever Message-->
                <div *ngFor="let item of allmessage">
                    
                    <div *ngIf="item.sender_id != currentUser._id" class="media col-8 offset-4 ml-auto">
                        <div class="media-body">
                          <div class="bg-primary rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-white">{{item.message}}</p>
                          </div>
                          <p class="small text-muted">{{item.created_at | date :'medium'}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <!-- Sender Message-->
                    <div *ngIf="item.sender_id != data._id" class="media col-8 "><img [src]="currentUser.profileUrl ? 'http://localhost:2000'+currentUser.profileUrl : 'http://localhost:2000/assets/images/userdefault.png'" style="object-fit: cover; border-radius: 18px;" alt="user" width="36"  height="36" >
                      <div class="media-body ml-3">
                        <div style="background-color: aliceblue;" class=" rounded py-2 px-3">
                          <p class="text-small mb-0 text-dark">{{item.message}}</p>
                        </div>
                        <p class="small text-muted">{{item.created_at | date:'medium'}}</p>
                      </div>
                    </div>
                   </div>
                </div>
            </div>
      
             
    
             <div class="row">
                    <div class="d-flex col-md-12">
                        <div class="input-group">
                            <input #sendmessage [(ngModel)]="chatMessage"  (keyup.enter)="sendmsg(sendmessage.value)"
                            style="border-top-left-radius:  23px; border-bottom-left-radius:  23px;" class="form-control" type="search"
                            placeholder="Send Message...">
                            <span (click)="updatePostToggleEmojiPicker()"  style="border-top-right-radius:  23px; border-bottom-right-radius:  23px;" class=" input-group-text">😀</span>
                        </div>
                </div>
             </div>
    
              </div>
          </div>
        </div>
    <emoji-mart *ngIf="messageEmojiPicker"  (emojiSelect)="addMessangerEmoji($event)"  class="emoji-mart"  set="twitter" emoji="point_up"  title="Emojis" [style]="{ position: 'absolute', bottom: '41%', right: '35%',width:'300px',height:'405px' }"></emoji-mart>
    </div>
        
    
    
</div>