.modal-dialog {
    max-width: none;
}

.modal-content {
    border: none;
}

.cbtn  {
    width: 0.01px;
    height: 0.01px;
    background-color: white;
    border-color: white;
    border: 1px solid white;
    cursor:default
}