// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "ngx-toastr/toastr";
@import "@ctrl/ngx-emoji-mart/picker";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$deskbook-primary: mat.define-palette(mat.$indigo-palette);
$deskbook-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$deskbook-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$deskbook-theme: mat.define-light-theme(
  (
    color: (
      primary: $deskbook-primary,
      accent: $deskbook-accent,
      warn: $deskbook-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($deskbook-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.btnPointer {
  cursor: pointer;
}

.profileImgResize {
  border-radius: 21px;
  object-fit: cover;
}

.searchUser{
  position: absolute;
  top: 13%;
  left: 0%;
  background-color: white;
  width: 330px;
}

.card-header{
  background-color: white !important;
}
.card-header .btn-close{
  padding: 1em 0.5em !important;
}

.custom-modalbox {
  mat-dialog-container {
      padding: 0;
      background: black !important;
  }
}

mat-form-field .mat-form-field-wrapper{
  padding-bottom: 0px !important;
}


.myCallbody #currentUser {
  height: 200px;
  margin: 0.5rem;
  // width: 400px;
  object-fit: cover;
  position: absolute;
  top: 62%;
  left: 50%;
  background-color: white;
  width: 300px;
  border-radius: 0%;
}

.myCallbody video {
  height: 560px;
  margin: 0.5rem;
  width: 100%;
  object-fit: cover;
}